{% extends "base.html" %} {% block title %} Edit {{ story.title }} {% endblock
%} {% block header %} Edit "{{ story.title }}" {% endblock %} {% block content
%}
<form method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="What's your story called?"
      value="{{ story.title }}"
    />
  </div>
  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea class="form-control" id="summary" name="summary" rows="3">{{
      story.summary
    }}</textarea>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select
      class="form-control"
      id="rating"
      name="rating"
      value="{{ story.rating }}"
    >
      <option>Adult/NSFW</option>
      <option>15</option>
      <option>12</option>
      <option>PG</option>
      <option>All Ages</option>
    </select>
  </div>
  <div class="form-group">
    <label for="genre">Genre <br /> </label>
    <select
      class="form-control"
      id="genre"
      name="genre"
      value="{{ story.genre }}"
    >
      <option>Slash</option>
      <option>Romance</option>
      <option>Humor</option>
      <option>Fanfic</option>
      <option>Poem</option>
      <option>Add Genre</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fandom">Fandom <br /></label>
    <select
      class="form-control"
      id="fandom"
      name="fandom"
      value="{{ story.fandom }}"
    >
      <option>None (Original story)</option>
      <option>Harry Potter</option>
      <option>Westlife</option>
      <option>Backstreet Boys</option>
      <option>Add Fandom</option>
    </select>
    <span
      ><strong>Warning:</strong> Only select multiple if the story is a
      crossover between fandoms!
    </span>
  </div>
  <button class="btn btn-my-color btn-sm" id="btn-disclaimer">
    Add disclaimer (required for fan fiction)
  </button>
  <div class="form-group" id="div-disclaimer">
    <label for="disclaimer">Disclaimer</label>
    <textarea class="form-control" id="disclaimer" name="disclaimer" rows="3">{{
      story.disclaimer
    }}</textarea>
  </div>
  <button class="btn btn-my-color btn-lg">save changes</button>
</form>
<table>
  {% for chapter in story.chapters %}
  <tr>
    <th>
      <a
        href="{{url_for('read', chapter_number=loop.index, story_to_read=story_to_read)}}"
        >{{ chapter.chapter_title }}
      </a>
    </th>
    <td>
      <a
        class="btn btn-my-color btn-sm btn-warning"
        href="{{url_for('edit_chapter', chapter_number=loop.index, story_to_read=story.url )}}"
        >Edit</a
      >
    </td>
    <td>
      <a
        class="btn btn-my-color btn-sm btn-danger"
        type="button"
        data-toggle="modal"
        data-target="#{{ story.url }}-{{ loop.index }}-modal"
        >Delete</a
      >
    </td>
  </tr>
  <div
    id="{{ story.url }}-{{ loop.index }}-modal"
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Delete Chapter {{ loop.index }} of {{ story.title }}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this chapter?</p>
          <h6>
            {{ chapter.chapter_title }}
          </h6>
          <a
            href="{{url_for('delete_chapter', story_to_read=story.url, chapter_number=loop.index )}}"
            class="btn btn-my-color btn-sm btn-danger"
            >DELETE</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</table>
<a
  href="{{url_for('add_chapter', story_url=story_to_read)}}"
  class="btn btn-my-color btn-sm btn-my-color"
  >Add a chapter</a
>
{%endblock%}
