{% extends 'base.html' %} 
{% block title %} {{ user | title }} {% endblock %} 
{% block header %} {{ user | title }} {% endblock %} 
{% block content %} 
{% for story in stories %} 
{% if story.author == user %}
<h4>
  <a href="{{url_for('read', story_to_read=story.url, chapter_number=1)}}">{{
    story.title
  }}</a
  ><span> by {{ story.author }}</span>
</h4>
<p>
  Fandom: {{ story.fandom }}<br />
  Summary: {{ story.summary }}
</p>
{% if story.author == session['username'] %}
<button class="btn btn-sm">Edit</button> {% endif %}
<hr />
{% endif %} 
{% endfor %} 
{% endblock %}
