{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block header %}
{{title}}
{% endblock %}
{% block content %}
<div class="row">
  <div class="d-none d-md-block col-md-3"><img class="cover-image" src="https://dummyimage.com/200x300.jpg&text={{title}}" alt="Cover image for {{title}}"></div>
<div class="col-md-9">
  <h4>{{title}}</h4>
Author: <a href="{{url_for('profile', user=author) }}">{{ author }}</a><br>
Fandom: {{fandom}} <br>
Summary: {{summary}} <br>
Disclaimer: {{ disclaimer}} <br>
Total chapters in this story: {{total_chapters}}
</div>
</div>

<hr>
<h5>{{chapter.chapter_title|title}}</h5>
<p>{{chapter.chapter_content|safe}}</p>
<button class="btn btn-large btn-mycolor">Feedback</button>
<hr>
{% if chapter_number > 1 %}
<a href="{{ url_for('read', story_to_read=story, chapter_number = chapter_number - 1)}}" class="btn btn-lg btn-mycolor left">Previous</a>
{% endif %}
{% if chapter_number < total_chapters %}
<a href="{{ url_for('read', story_to_read=story, chapter_number = chapter_number + 1 )}}" class="btn btn-lg btn-mycolor left">Next</a>
{% endif %}
{% endblock %}
